{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">Relatório por produto</h1>
  </div>
</div>
{{end}}

<div class="row">
    <div class="col">
        {{=pesquisar}}
    </div>
</div>

{{if produto:}}
<div class="row">
    <div class="col">
        <p>Quantidade comprada: Kg {{=quantidade_compra}}</p>
        <p>Valor gasto: R$ {{=valor_compra}}</p>
    </div>
    <div class="col">
        <p>Quantidade vendida: Kg {{=quantidade_venda}}</p>
        <p>Total das vendas: R$ {{=valor_venda}}</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Lucro: R$ {{=lucro}}</h4>
    </div>
</div>
{{pass}}
